<html>
    <%- include("./header.ejs") %>
    <!-- * LEARN TAILWINDCSS FROM channel Parsinta -->
    <body
        class="flex items-center justify-center min-h-screen antialiased tracking-tighter bg-gray-100"
    ></body>
</html>
