<%- include("./components/layout.ejs") %>

<div class="max-w-xl">
    <div class="overflow-hidden bg-white border shadow-sm rounded-xl">
        <header
            class="flex items-center justify-between px-4 py-2 border-b bg-gray-50/50"
        >
            <div>
                <h1 class="text-5xl font-bold">Card Title</h1>
                <span class="max-w-xs text-gray-600">Lorem ipsum dolor </span>
            </div>
            <a
                href="#"
                class="focus:outline-none focus:ring transition focus:ring-pink-100 duration-300 px-4 py-2.5 text-white hover:bg-pink-600 bg-pink-500 rounded-xl font-semibold text-sm"
                >New Task</a
            >
        </header>
        <section class="px-4 py-2">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores
            voluptas dicta asperiores beatae ratione ex assumenda quia ipsam.
            Dignissimos nisi consequatur nemo voluptatem ad aspernatur esse,
            corrupti veritatis recusandae, voluptate voluptas fugiat quidem
            autem non est neque? Consectetur est saepe laborum temporibus
            libero. Rerum architecto, iusto error quas repudiandae minus culpa
            ratione nemo corporis sit maxime fugiat quo exercitationem assumenda
            dignissimos quod, alias placeat distinctio velit! Cum, autem
            accusamus vitae nisi nostrum explicabo officia. Possimus, cumque?
            Magni aliquam delectus sit eveniet voluptates commodi ducimus dicta,
            mollitia autem minima ipsum est iure culpa qui consequatur earum vel
            et harum minus pariatur.
        </section>
        <footer class="px-4 py-2 text-gray-600 border-t bg-gray-50/50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
            temporibus voluptas odio nemo delectus vitae maiores ipsa eveniet
            quas! Necessitatibus doloremque voluptatibus in fuga, corrupti qui
            quam amet vero perferendis?
        </footer>
    </div>
</div>
