@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply py-2.5 px-6 text-sm font-medium duration-300 focus:outline-none focus:ring rounded text-white;
}
.btn-primary {
    @apply transition duration-300 bg-blue-600  focus:ring-blue-200 hover:bg-blue-700;
}
.btn-secondary {
    @apply transition duration-300 bg-pink-600 rounded  focus:ring-pink-200 hover:bg-pink-700;
}
